@page "/"

@using System.Net.Http
@inject HttpClient Http

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

Current Time Zone Id : @CurrentTimeZoneInfo.Id
<br />
current Time Zone Display Name : @CurrentTimeZoneInfo.DisplayName
<br />
Current Time Zone Standard Name: @CurrentTimeZoneInfo.StandardName
<br />
<br />
<br />

@foreach (dynamic timeZone in timeZoneList)
{
    <span>ID :</span> <span> @((MarkupString)timeZone.Id.ToString())</span>
    <br />
    <span>Display Name :</span> <span>@((MarkupString)timeZone.DisplayName)</span>
    <br />
    <span>Standard Name :</span> <span>@((MarkupString)timeZone.StandardName)</span>
    <br />
    <br />
    <br />
}

@code
{

    List<TimeZoneInfo> timeZoneList = new List<TimeZoneInfo>();
    // List<dynamic> timeZoneList;
    TimeZoneInfo CurrentTimeZoneInfo = TimeZoneInfo.Local;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            var result = await Http.GetAsync("WeatherForecast");
            Console.WriteLine(result);
            var jsonString = await result.Content.ReadAsStringAsync();
            Console.WriteLine(jsonString);

            timeZoneList = Newtonsoft.Json.JsonConvert.DeserializeObject<List<TimeZoneInfo>>(jsonString);

            foreach(dynamic t in timeZoneList)
            {
                Console.WriteLine(t.Id);
                Console.WriteLine(t.Local.Id);
            }
            //// var timeZoneList = await Http.GetFromJsonAsync<IReadOnlyCollection<TimeZoneInfo>>("WeatherForecast");



        }
        catch (Exception)
        {

            throw;
        }


    }
}